body {

    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.services-ho:hover {
    padding: 20px;
}
.img_small {
    width: 200px;
    height: 200px;
}

.img_small_card {
    width: 200px;
    height: 200px;
    margin: auto;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;

}
.login-div {
    -webkit-box-shadow: -2px -6px 68px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: -2px -6px 68px -6px rgba(0,0,0,0.33);
    box-shadow: -2px -6px 68px -6px rgba(0,0,0,0.33);
}
.div-small{
    width:350px;

}
@media (min-width: 576px) {
    .div-small {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .div-small {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .div-small {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .div-small {
        max-width: 1140px;
    }
}

.card-anio {
    background: #D4FCFE;
}

