
@model WebApplication6.Models.BaseModelo

@{
    var cantidadPaginas = (int)Math.Ceiling((double)Model.TotalRegistros / Model.RegistrosPorPagina);
}

<!--Funcionalidad: Anterior y siguiente-->
<!--Funcionalidad: Páginas-->

@{
    int Inicial = 1;
    var radio = 3;
    var cantidadMaximaDePaginas = radio * 2 + 1;
    int Final = (cantidadPaginas > cantidadMaximaDePaginas) ? cantidadMaximaDePaginas : cantidadPaginas;
    if (Model.PaginaActual > radio + 1)
    {
        Inicial = Model.PaginaActual - radio;
        if (cantidadPaginas > Model.PaginaActual + radio)
        {
            Final = Model.PaginaActual + radio;
        }
        else
        {
            Final = cantidadPaginas;
        }
    }
}
<ul class="pagination justify-content-md-center">

    @for (int i = Inicial; i <= Final; i++)
    {


        if (i == Model.PaginaActual)
        {

            <li class="page-item active">
                @Html.ActionLink(i.ToString(), null, new { pagina = i,IdCurso=Model.Controller }, new { @class = "page-link" })
             </li>
    }
    else
    {
        <li class="page-item ">
            @Html.ActionLink(i.ToString(), null, new { pagina = i,IdCurso=Model.Controller }, new { @class = "page-link" })
            </li>
    }

}


</ul>

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>