@model WebApplication6.Models.AniosACursar

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <hr />
    <h2 class="alert alert-danger text-center">¿ Esta seguro de borrar este año ? </h2>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dd class="display-4 text-center">
                @Html.DisplayFor(model => model.Str_Curso)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group text-md-center">
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </div>
        }
    </div>

</div>
