@model WebApplication6.Models.AniosACursar

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2>Detalles</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Str_Curso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Str_Curso)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-dark" })
    </p>


</div>

